{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="page-inner">

        <!-- Section Card Machine Selection -->
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Section Machines</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        
                        <form method="post">
                            {% csrf_token %}
                            <label for="sheet_key">Select Machine:</label>
                            <select name="sheet_key" id="sheet_key" class="form-control shadow-sm rounded">
                                <option value="">-- Select a Machine-</option>
                                {% for machine in sheet_keys %}
                                    <option value="{{ machine.keyValue }}">{{ machine.nameMachine }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary btn-lg mt-3">Load</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <h2> {{ aMachineName }}</h2>
        <form method="POST" action="{% url 'submitPageCalculationSheet' %}" class="form-group">
            {% csrf_token %}
            <input type="hidden" name="sheet_key" value="{{ sheet_key }}">
            <div class="row"> <!-- Row to hold both cards side by side -->

                <!-- Section 0 Card Project Selection -->
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">Section 0</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-12 mb-3">
                                    <label for="project">Select Project:</label>
                                    <select name="project" id="project" class="form-control shadow-sm rounded">
                                        <option value="">-- Select a Project --</option>
                                        {% for project in projects %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section 1 Card -->
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">Section 1</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% if aSection01Field01Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field01.label }}</label>
                                    {{ form.oSec01Field01 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field02Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field02.label }}</label>
                                    {{ form.oSec01Field02 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field03Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field03.label }}</label>
                                    {{ form.oSec01Field03 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field04Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field04.label }}</label>
                                    {{ form.oSec01Field04 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field05Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field05.label }}</label>
                                    {{ form.oSec01Field05 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field06Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field06.label }}</label>
                                    {{ form.oSec01Field06 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field07Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field07.label }}</label>
                                    {{ form.oSec01Field07 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field08Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field08.label }}</label>
                                    {{ form.oSec01Field08 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field09Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field09.label }}</label>
                                    {{ form.oSec01Field09 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field10Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field10.label }}</label>
                                    {{ form.oSec01Field10 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field11Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field11.label }}</label>
                                    {{ form.oSec01Field11 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field12Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field12.label }}</label>
                                    {{ form.oSec01Field12 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field13Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field13.label }}</label>
                                    {{ form.oSec01Field13 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field14Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field14.label }}</label>
                                    {{ form.oSec01Field14 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field15Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field15.label }}</label>
                                    {{ form.oSec01Field15 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field16Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field16.label }}</label>
                                    {{ form.oSec01Field16 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field17Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field17.label }}</label>
                                    {{ form.oSec01Field17 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field18Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field18.label }}</label>
                                    {{ form.oSec01Field18 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field19Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field19.label }}</label>
                                    {{ form.oSec01Field19 }}
                                </div>
                                {% endif %}
                                {% if aSection01Field20Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec01Field20.label }}</label>
                                    {{ form.oSec01Field20 }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Section 2 Card -->
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">Section 2</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% if aSection02Field01Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field01.label }}</label>
                                    {{ form.oSec02Field01 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field02Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field02.label }}</label>
                                    {{ form.oSec02Field02 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field03Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field03.label }}</label>
                                    {{ form.oSec02Field03 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field04Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field04.label }}</label>
                                    {{ form.oSec02Field04 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field05Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field05.label }}</label>
                                    {{ form.oSec02Field05 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field06Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field06.label }}</label>
                                    {{ form.oSec02Field06 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field07Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field07.label }}</label>
                                    {{ form.oSec02Field07 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field08Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field08.label }}</label>
                                    {{ form.oSec02Field08 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field09Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field09.label }}</label>
                                    {{ form.oSec02Field09 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field10Show == "Yes" %}    
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field10.label }}</label>
                                    {{ form.oSec02Field10 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field11Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field11.label }}</label>
                                    {{ form.oSec02Field11 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field12Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field12.label }}</label>
                                    {{ form.oSec02Field12 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field13Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field13.label }}</label>
                                    {{ form.oSec02Field13 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field14Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field14.label }}</label>
                                    {{ form.oSec02Field14 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field15Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field15.label }}</label>
                                    {{ form.oSec02Field15 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field16Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field16.label }}</label>
                                    {{ form.oSec02Field16 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field17Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field17.label }}</label>
                                    {{ form.oSec02Field17 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field18Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field18.label }}</label>
                                    {{ form.oSec02Field18 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field19Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field19.label }}</label>
                                    {{ form.oSec02Field19 }}
                                </div>
                                {% endif %}
                                {% if aSection02Field20Show == "Yes" %}     
                                <div class="col-md-6 mb-3">
                                    <label>{{ form.oSec02Field20.label }}</label>
                                    {{ form.oSec02Field20 }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                
            </div> <!-- Close row div -->

            <div class="text-center">
                <button type="submit" name="form1_submit" class="btn btn-primary btn-lg mt-3">Calculate</button>                                
                <button type="submit" name="generate_report" formaction="{% url 'generate_report' %}" class="btn btn-success btn-lg mt-3">Report</button>
            </div>
        </form>

        

    </div>
</div>



<!-- Add this to <head> in base.html -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">




{% endblock %}