{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page-inner">

        <h2 class="mb-3">Add New Project</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">{{ form.name }}</div>
                <div class="col-md-4">{{ form.client_name }}</div>
                <div class="col-md-4">{{ form.capacity }}</div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
        </form>
        
        <h3 class="mt-4">Projects List</h3>
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Client Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.client_name }}</td>
                    <td>
                        <!-- <a href="{% url 'edit_project' project.id %}" class="btn btn-warning btn-sm" >Edit</a> -->
                        <a href="{% url 'edit_project' project.id %}" class="btn btn-warning btn-sm edit-project-btn" data-project-id="{{ project.id }}"> Edit </a>
                        <form action="{% url 'delete_project' project.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>                    
                        <button class="btn btn-info btn-sm" onclick="showDetails('{{ project.name }}', '{{ project.client_name }}', '{{ project.capacity }}')">Show All</button>
                        <button class="btn btn-success btn-sm" onclick="reviewMachines('{{ project.id }}')">Review Machines</button>
                        <a href="{% url 'generate_report' project.id %}" class="btn btn-secondary btn-sm">Generate Submittal (Word file)</a>
                        <a href="#" class="btn btn-secondary btn-sm disabled" aria-disabled="true">Generate Submittal (PDF)</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<!--Edit Modal  -->
<div id="editProjectModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Project</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div id="edit-project-form-container"></div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modalName"></span></p>
                <p><strong>Client Name:</strong> <span id="modalClient"></span></p>
                <p><strong>Capacity:</strong> <span id="modalCapacity"></span></p>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="reviewMachinesModal" tabindex="-1" aria-labelledby="reviewMachinesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewMachinesModalLabel">Machines for <span id="modalProjectName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Created At</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="machinesTableBody">
                        <!-- Machines will be loaded here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /* Change modal background color */
    #machineDetailsModal .modal-content {
        background-color:#d0ebff; /* Light gray */
        color: #000; /* Black text */
    }
</style>

<!-- Machine Details Modal -->
<div class="modal fade" id="machineDetailsModal" tabindex="-1" aria-labelledby="machineDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="machineDetailsModalLabel">Machine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Username:</strong> <span id="detailUsername"></span></p>
                <p><strong>Created At:</strong> <span id="detailCreatedAt"></span></p>
                <p><strong>Type:</strong> <span id="detailType"></span></p>
                <hr>
                <p><strong><span id="labelField1"></span> : </strong> <span id="detailField1"></span></p>
                <p><strong><span id="labelField2"></span> :</strong> <span id="detailField2"></span></p>
                <p><strong><span id="labelField3"></span> :</strong> <span id="detailField3"></span></p>
                <p><strong><span id="labelField4"></span> :</strong> <span id="detailField4"></span></p>
                <p><strong><span id="labelField5"></span> :</strong> <span id="detailField5"></span></p>
                <p><strong><span id="labelField6"></span> :</strong> <span id="detailField6"></span></p>
                <p><strong><span id="labelField7"></span> :</strong> <span id="detailField7"></span></p>
                <p><strong><span id="labelField8"></span> :</strong> <span id="detailField8"></span></p>
                <p><strong><span id="labelField9"></span> :</strong> <span id="detailField9"></span></p>
                <p><strong><span id="labelField10"></span> :</strong> <span id="detailField10"></span></p>
            </div>
        </div>
    </div>
</div>


<script>
    // When the edit button is clicked
  document.addEventListener('click', function(e) {
    if (e.target.matches('.edit-project-btn')) {
      e.preventDefault();
      const url = e.target.getAttribute('href');

      fetch(url, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          document.getElementById('edit-project-form-container').innerHTML = `
            <form id="edit-project-form" method="post">
                {% csrf_token %}
              ${data.form}
              <button type="submit" class="btn btn-success">Update</button>
            </form>`;
          // Show the modal
          $('#editProjectModal').modal('show');
        }
      });
    }
  });

  // Handle form submission via AJAX
  document.addEventListener('submit', function(e) {
    if (e.target.matches('#edit-project-form')) {
      e.preventDefault();
      const form = e.target;
      const formData = new FormData(form);
      const url = document.querySelector('.edit-project-btn').getAttribute('href');

      fetch(url, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          $('#editProjectModal').modal('hide');
            location.reload(); 
        } else {
          // Re-render the form with error messages
          document.getElementById('edit-project-form-container').innerHTML = `
            <form id="edit-project-form" method="post">
              ${data.form}
              <button type="submit" class="btn btn-success">Update</button>
            </form>`;
        }
      });
    }
  });
</script>


<script>
function showDetails(name, client, capacity) {
    document.getElementById('modalName').textContent = name;
    document.getElementById('modalClient').textContent = client;
    document.getElementById('modalCapacity').textContent = capacity;
    $('#detailsModal').modal('show');
}
</script>


<script>
    function reviewMachines(projectId) {
        document.getElementById('modalProjectName').textContent = "Loading...";
        
        fetch(`/Mechanical/get_machines/${projectId}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('modalProjectName').textContent = data.project_name;
    
                let machinesTableBody = document.getElementById('machinesTableBody');
                machinesTableBody.innerHTML = "";  
    
                if (data.machines.length > 0) {
                    /* data.machines.forEach(machine => {
                        let row = "<tr>";
                        
                        // Loop through each field in the machine object
                        for (const [key, value] of Object.entries(machine)) {
                            if (value !== null && value !== "" ) {
                                row += `<td>${value}</td>`;
                            }
                        }
                    
                        // Add the View Details button (always show this)
                        row += `<td>
                            <button class="btn btn-info btn-sm" onclick="showMachineDetails(${Object.values(machine).map(v => `'${v}'`).join(',')})">
                                View Details
                            </button>
                        </td>`;
                    
                        row += "</tr>";
                        machinesTableBody.innerHTML += row;
                    }); */
                    data.machines.forEach(machine => {
                        let row = `<tr>
                            <td>${machine.oSec00Field01}</td>
                            <td>${machine.oSec00Field02}</td>
                            <td>${machine.oSec00Field03}</td>
                            <td>
                                <button class="btn btn-info btn-sm" onclick="showMachineDetails(
                                    '${machine.oSec00Field01}', 
                                    '${machine.oSec00Field02}', 
                                    '${machine.oSec00Field03}', 
                                    '${machine.oSec01Field01}', 
                                    '${machine.oSec01Field02}', 
                                    '${machine.oSec01Field03}', 
                                    '${machine.oSec01Field04}', 
                                    '${machine.oSec01Field05}', 
                                    '${machine.oSec01Field06}', 
                                    '${machine.oSec01Field07}', 
                                    '${machine.oSec01Field08}', 
                                    '${machine.oSec01Field09}', 
                                    '${machine.oSec01Field10}', 
                                    '${machine.oSec01Field11}', 
                                    '${machine.oSec01Field12}', 
                                    '${machine.oSec01Field13}', 
                                    '${machine.oSec01Field14}', 
                                    '${machine.oSec01Field15}', 
                                    '${machine.oSec01Field16}', 
                                    '${machine.oSec01Field17}', 
                                    '${machine.oSec01Field18}', 
                                    '${machine.oSec01Field19}', 
                                    '${machine.oSec01Field20}'
                                )">View Details</button>
                            </td>
                        </tr>`;
                        machinesTableBody.innerHTML += row;
                    });
                } else {
                    machinesTableBody.innerHTML = "<tr><td colspan='6' class='text-center'>No machines found.</td></tr>";
                }
    
                $('#reviewMachinesModal').modal('show');
            })
            .catch(error => console.error('Error:', error));
    }

    function showMachineDetails(username, createdAt, type, field1, field2,
    field3, field4, field5, field6, field7,
    field8, field9, field10, field11, field12,
    field13, field14, field15, field16, field17,
    field18, field19, field20) {
        document.getElementById('detailUsername').textContent = username || "N/A";
        document.getElementById('detailCreatedAt').textContent = createdAt || "N/A";
        document.getElementById('detailType').textContent = type || "N/A";
    
        if ((field1)&&(field1 !="undefined")) {
            document.getElementById('labelField1').textContent = field1 || "N/A";
        }
        if ((field2)&&(field2 !="undefined")) {
            document.getElementById('detailField1').textContent = field2 || "N/A";
        }
    
        if ((field3)&&(field3 !="undefined")) {
            document.getElementById('labelField2').textContent = field3 || "N/A";
        }
        if ((field4)&&(field4 !="undefined")) {
            document.getElementById('detailField2').textContent = field4 || "N/A";
        }
    
        if ((field5)&&(field5 !="undefined")) {
            document.getElementById('labelField3').textContent = field5 || "N/A";
        }
        if ((field6)&&(field6 !="undefined")) {
            document.getElementById('detailField3').textContent = field6 || "N/A";
        }
    
        if ((field7)&&(field7 !="undefined")) {
            document.getElementById('labelField4').textContent = field7 || "N/A";
        }
        if ((field8)&&(field8 !="undefined")) {
            document.getElementById('detailField4').textContent = field8 || "N/A";
        }
    
        if ((field9)&&(field9 !="undefined")) {
            document.getElementById('labelField5').textContent = field9 || "N/A";
        }
        if ((field10)&&(field10 !="undefined")) {
            document.getElementById('detailField5').textContent = field10 || "N/A";
        }
    
        if ((field11)&&(field11 !="undefined")) {
            document.getElementById('labelField6').textContent = field11 || "N/A";
        }
        if  ((field12)&&(field12 !="undefined")) {
            document.getElementById('detailField6').textContent = field12 || "N/A";
        }
    
        if ((field13)&&(field13 !="undefined")) {
            document.getElementById('labelField7').textContent = field13 || "N/A";
        }
        if ((field14)&&(field14 !="undefined")) {
            document.getElementById('detailField7').textContent = field14 || "N/A";
        }
    
        if ((field15)&&(field15 !="undefined")) {
            document.getElementById('labelField8').textContent = field15 || "N/A";
        }
        if ((field16)&&(field16 !="undefined")) {
            document.getElementById('detailField8').textContent = field16 || "N/A";
        }
    
        if ((field17)&&(field17 !="undefined")) {
            document.getElementById('labelField9').textContent = field17 || "N/A";
        }
        if ((field18)&&(field18 !="undefined")) {
            document.getElementById('detailField9').textContent = field18 || "N/A";
        }
    
        if ((field19)&&(field19 !="undefined")) {
            document.getElementById('labelField10').textContent = field19 || "N/A";
        }
        if ((field20)&&(field20 !="undefined")) {
            document.getElementById('detailField10').textContent = field20 || "N/A";
        }
    
        $('#machineDetailsModal').modal('show');
    }
    

    
</script>

    
{% endblock %}
